[submodule "vendor/ikarusdef"]
	path = vendor/ikarusdef
	url = ssh://git@git.ikarus.world:41843/Ikarus/ikarusdef.git
[submodule "vendor/sqlitecpp"]
	path = vendor/sqlitecpp
	url = ssh://git@git.rewritesarebliss.com:16658/Folling/sqlitecpp.git
[submodule "vendor/doxygen-awesome-css"]
	path = vendor/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "vendor/catch2"]
	path = vendor/catch2
	url = git@github.com:catchorg/Catch2.git
